@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: auto;
        font-weight: auto;
    }

    :root {
        /* Primary colors */
        --primary-blue: 210 70% 70%; /* #89BADD (assuming this is the correct color) */
        --primary-dark: 40 4% 16%; /* #2D2B28 */

        /* CMYK converted colors */
        --deep-blue: 220 100% 31%; /* #0033A0 (c 100 m 90 y 10 k 0) */
        --dark-gray: 60 3% 11%; /* #1C1C1A (c 68 m 64 y 66 k 66) */
        --amber: 40 100% 48%; /* #F5A800 (c 0 m 47 y 100 k 0) */

        /* System colors */
        --background: var(--primary-blue);
        --foreground: var(--primary-dark);

        --card: var(--deep-blue);
        --card-foreground: var(--primary-blue);

        --popover: var(--dark-gray);
        --popover-foreground: var(--primary-blue);

        --primary: var(--primary-blue);
        --primary-foreground: var(--primary-dark);

        --secondary: var(--deep-blue);
        --secondary-foreground: var(--primary-blue);

        --muted: var(--dark-gray);
        --muted-foreground: var(--primary-blue);

        --accent: var(--amber);
        --accent-foreground: var(--primary-dark);

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: var(--primary-blue);

        --border: var(--deep-blue);
        --input: var(--dark-gray);
        --ring: var(--primary-blue);

        --success: 196 100% 14%;
        --warning: 34 51% 25%;
        --error: 10 39% 43%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html[data-theme='dark'],
html[data-theme='light'] {
    opacity: initial;
}
